.logo {
    width: 240px;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

.email {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: gray;
}